.container{
    border-top: 1px solid #bbb7ae;
    background-color: white;
    left: 0;
    right: 0;
    bottom: 0%;
};

.footerFlex{
    display: flex;
    justify-content: space-between; 
    padding: 15px 80px;
};

.footerBottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 80px;
};

.copyright{
    margin-right: 32vw;
    margin-bottom: 0;
};

.social:not(:last-child){
    margin: 16px;
};

ion-icon{
    color: black;
};